// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
* Basic styles
**/
body {
  @include body-position;

  @media (min-width: $breakpoint-desktop) {
    max-width: 100%;
  }
}
main {
  margin: 5%;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0 100px;
  }
}
li {
  list-style-type: none;
}